<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.budget.mapper.CacheManageMapper">
    <resultMap id="BaseResultMap" type="com.budget.entitys.CacheManage">
        <result column="cache_id" property="cacheId" jdbcType="INTEGER"/>
        <result column="cache_name" property="cacheName" jdbcType="VARCHAR"/>
        <result column="server_ip" property="serverIp" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

	<sql id="Base_Column_List">
        cache_id,cache_name,server_ip,status,create_time,update_time
	</sql>

  <select id="getCacheManageByCond" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
      cache_id,cache_name,server_ip,status,create_time,update_time
    from
      tb_cache_manage
    where
      cache_name = #{cacheName} and server_ip = #{serverIp}
  </select>

    <update id="updateStatusById">
        update
            tb_cache_manage
        set
            status = #{status},update_time=now()
        where
            cache_id = #{cacheId}
    </update>

    <insert id="insertCacheManage" parameterType="com.budget.entitys.CacheManage" useGeneratedKeys="true" keyProperty="cacheId">
        insert into tb_cache_manage
            (cache_name,server_ip,status,create_time,update_time)
        values
            (#{cacheName},#{serverIp},#{status},now(),now())
    </insert>

    <select id="getCacheManageByStatus" resultMap="BaseResultMap" parameterType="java.lang.String" >
        select
            cache_id,cache_name,server_ip,status,create_time,update_time
        from
            tb_cache_manage
        where
            cache_name = #{cacheName} and server_ip = #{serverIp} and status=#{status}
    </select>

    <update id="updateStatusByName" parameterType="java.lang.String" >
        update
            tb_cache_manage
        set
            status = #{status},update_time=now()
        where
            cache_name = #{cacheName}
    </update>

</mapper>